<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hệ thống phân tích đánh giá quán ăn, nhà hàng</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon.jpg') }}">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-primary">
      <a class="navbar-brand" href="/">Hệ thống phân tích đánh giá quán ăn, nhà hàng</a>
    </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Sentiment analysis</h1>
        <p class="lead">sentiment analysis model using Multinomial Naive Bayes, Logistic Regression, and LSTM</p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Thống kê:</h2>
          <p>Tổng số bình luận: {{ total_count }}</p>
          <!-- <p>Tỷ lệ tích cực: {{ positive_percentage }}%</p>
          <p>Tỷ lệ tiêu cực: {{ negative_percentage }}%</p> -->
        </div>
        <div class="col-md-8">
          <h2>Biểu đồ tỷ lệ tích cực và tiêu cực:</h2>
          <img src="data:image/png;base64, {{ pie_chart }}" alt="Pie Chart">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Kết quả dự đoán:</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Mẫu đánh giá</th>
                <th>Multinomial Naive Bayes</th>
                <th>Logistic Regression</th>
                <th>LSTM</th>
              </tr>
            </thead>
            <tbody id="comment-table">
              {% for prediction in predictions[:20] %}
              <tr>
                <td>{{ prediction.review[:150] }}{% if prediction.review|length > 150 %}...{% endif %}</td>
                <td>{{ prediction.predicted_sentiment }}</td>
                <td>{{ prediction.logr_sentiment }}</td>
                <td>{{ prediction.lstm_sentiment }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button id="load-more-btn" class="btn btn-primary" data-page="1">Xem thêm</button>
        </div>
      </div>
    </div>

    <div class="card text-center">
      <div class="card-footer text-muted">
        Thanks for visiting the site. Hope you had a good time!
      </div>
    </div>

    <script>
      var page = 1; // Trang hiện tại
      var perPage = 20; // Số lượng bình luận mỗi lần tải

      // Hàm để tải thêm bình luận
      function loadMoreComments() {
        var startIndex = page * perPage;
        var endIndex = (page + 1) * perPage;

        // Gửi yêu cầu AJAX để lấy thêm bình luận
        $.ajax({
          url: '/load_more_comments',
          type: 'POST',
          data: {
            start: startIndex,
            end: endIndex
          },
          success: function (data) {
            // Chèn bình luận đã tải vào bảng
            $('#comment-table').append(data);

            // Tăng số trang lên
            page++;
          }
        });
      }

      // Sự kiện khi nút "Xem thêm" được nhấn
      $('#load-more-btn').on('click', function () {
        loadMoreComments();
      });
    </script>
  </body>
</html>
